@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/img/the-boys-homelander-4k-hr-2048x1152.jpg" class="img-fluid rounded"/>
</div>
